*.o
*.pdf
B2bR/
OOP_c++/
Tour_of_C++/
cmake/
exam03/
exam04/
fdf/mlx/
fdf/old/
fdf/sources/
linked_list/
miniRT.zip
miniRT_MB/
miniRT_MB_debug/
miniShell/
netpractice/
philo/
philo_git/
philo_pushed/
pipex/aaaa.txt
pipex/edsnesfed.txt
pipex/end.txt
pipex/enesfed.txt
pipex/filcdsce2.txt
pipex/file1.txt
pipex/file2.txt
pipex/filefwf2.txt
pipex/filvfde2.txt
pipex/learning/
pipex/start.txt
pipex/tester1/
pipex/tester2/
pipex/to_do.txt
push-swap/checker_linux
push-swap/push_swap
threads/
