*.o
*.pdf
*.txt
libft_tester1/
libft_tester2/
B2bR/
linked_list/
fdf/mlx
fdf/old
fdf/sources
pipex/learning
pipex/.vscode
pipex/tester1
pipex/tester2
push_swap
checker_linux
Tour_of_C++/
exam03/
miniRT.zip
miniShell/
philo/
philo_git/
philo_pushed/
threads/
OOP_c++/
